<% provide(:title, 'About') %>
<h1>About Kordt</h1>
	<p>
		As an independent writer / producer, Kordt has worked for advertising 
		agencies, production companies, TV networks and corporate clients. In 
		the past 8 years, his company has completed projects for clients 
		including: Princess Cruise Lines, Quaker Oats Gatorade, R.R. Donnelley, 
		Sears, Taco Bell, Pizza Hut & KFC, the Chicago NBC affiliate Channel 5, 
		and Motor Coach Industries. These varied projects spanned a wide range, 
		as clients had Kordt and his associates creating TV and radio commercials,
		CD-ROM based marketing tools, business communications - even a CD of 
		songs Kordt produced, arranged and recorded for a singer/songwriter 
		client with a unique product - songs about the experiences of adoptive 
		families.
	</p>
	<br/>
	<p>
		Prior to starting his own writing/production business, Kordt worked for 
		six years at A. Eicoff & Co. His assignments included creating the first 
		ads for a little known company called America Online. He also wrote and 
		produced award-winning TV commercials for Men's Health magazine and 
		Time-Life books.
	</p>
	<br/>
	<p>
		Prior to his years at A. Eicoff, Kordt worked as a writer at Foote, 
		Cone & Belding, creating TV, radio and print advertising for Kraft 
		Foods, Citicorp and a variety of other clients. He began his writing
		career in 1985 at BBDO in Chicago. Prior to that, Kordt worked for 
		3 years in music production for commercials. 
	</p>
