<div class="center hero-unit">
	<h1>Welcome to The Kordt Co.</h1>
	<br/>
	<p>
		How does an idea, a presentation, a product become popular, attractive, 
		sought after? Finding that elusive magic, that clarity of vision, that 
		intriguing possibility is what I strive to bring to every project I work on.
	</p>
	<br/>
	<p>
		For me, the key is marrying great ideas with the best production available
		for the client’s budget. Whether it’s coming up with new ideas to sell 
		products or communicate with others, or just writing clearly and simply, the
		magic exists in how you appeal to people. From print production to corporate
		video to commercials and music, how each production elicits response is my 
		primary focus.
	</p>
	<br/>
	<p>
		How can I help you bring intrigue and excitement to your communications and
		your products? Take a look around this site. See what I’ve done for others. 
		Then we can explore using the power of attraction for you.
	</p>
	<br/>
</div>
